:root{
    --cor-principal: #EA1C81;
    --cor-topo: #D8F1FB;
    --cor-preta: black;
    --cor-branca: white;
    --cor-fundo: #FAFBFF;
}

/*                                                  MARGE                                                        */

*{
    margin: 0px;
    padding: 0px;
    transition: all 1s;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/*                                                 HEADER                                                       */

#header{
    background-color: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header nav a{
    text-decoration: none;
    color: var(--cor-preta);
}

#header nav a:hover{
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 20px;
}

.marginLateral{
    margin: 0px 20px;
}

main #banner{
    background-image: url("../img/banner.png");
    height: calc(100vh - 89px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* Cover é usado para preencher a tela inteira */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-principal);
}

main #banner button{
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border: none;
    border-radius: 20px;
}

.marginCimaBaixo{
    margin: 20px 0px;
}

main #banner h1{
    color: var(--cor-principal);
    font-size: 3em;
}

main #banner p{
    color: black;
}

/*                                           CODIGO PARA O CURSOR                                         */
main #banner button:hover{
    cursor: pointer;
}

#header,
main #banner button,
#header nav a:hover,
#bemVindo div,
main #beneficios #beneficios-nossosbeneficios,
#rodape,
main #form #form-formulario form{
    padding: 15px;
}

#bemVindo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#bemVindo #bemVindo-boasVindas h3{
    color: var(--cor-principal);
    margin-bottom: 10px;
}

main #beneficios{
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}

main #beneficios #beneficios-nossosbeneficios{
    color: var(--cor-principal);
}

main #beneficios #beneficios-servicos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

/*                                             TEXT ALIGN: CENTER;                             */
main #beneficios #beneficios-nossosbeneficios,
main #beneficios #beneficios-servicos,
main #form #form-texto{
    text-align: center;
}

main #form #form-formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main #form #form-formulario form input{
    display: block;
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
    width: 400px;
    margin-bottom: 10px;
}

main #form #form-formulario form button{
    padding: 8px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
}

main #form #form-formulario{
    background-image: url(../img/1-16373_dogs-png-jpg-royalty-free-library-dog-and\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}



/*                                               RODAPÉ                               */
#rodape{
    background-color: var(--cor-topo);
    text-align: center;
}

#cabecalho{
    background: var(--cor-topo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#cabecalho nav a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
}

#cabecalho nav a:hover{
    background-color: var(--cor-principal);
    color: white;
    border-radius: 15px;
    padding: 10px;
}

#main1 section div{
    display: block;
}

.grid-3 {
    border: none;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.registrar{
    margin-left: 25px;
    margin-top: 25px;
}

.width-100 {
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 30px;
    width: 100%;
    display: block;
}

.ladoALado{
    margin-top: 30px;
}

.ladoALado .btn-verde,
.ladoALado .btn-vermelho{
    text-decoration: none;
    padding: 5px 45px;
    border-radius: 20px;
    color: #fff;
    margin-left: 15px;
}

.ladoALado .btn-verde{
    background-color: #1CF365;
}

.ladoALado .btn-vermelho {
    background-color: red;
}

.form-consulta label {
    display: block;
}

.form-consulta input,
.form-consulta textarea {
    width: 95%;
}

main #login,logar-login{
    margin-top: 120px;
    
}

/*-----------------------------------------DASHBOARD-----------------------------------------------*/

.botoes{
    background-color: var(--cor-topo);
    height: 100vh;
}

#maind{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;

}
main #div-dashboard div{
    margin: 30px;
    background-color: var(--cor-principal);
    text-align: center;
    padding: 10px;
    border-radius: 100px;

}
main #div-dashboard a{
    text-decoration: none;
    color: black;
}
main #div-dashboard div:houver{
    font-size: large;
    padding: 20px;
}

.menu-lat{
    background-color: var(--cor-topo);
}

main .secoes .secoes-cadastroclientes{
    border: 4px solid green;
}

main .secoes .secoes-cadastroconsultas{
    border:4px solid yellow;
}

main .secoes .secoes-cadastrousuarios{
    border: 4px solid purple;
}

main .secoes .secoes-consultascanceladas{
    border: 4px solid salmon;
}

 main .secoes div{
    border-radius: 10px;
    width: 350px;
    display: inline-block;
    margin: 20px;
    padding: 60px;
    color: var(--cor-preta);
}

.botoes a{
    background-color: #EA1C81;
    padding: 10px 25px;
    
    color: #D8F1FB;
    border-radius: 30px;
}
.botoes div{
 margin-top: 50px;
}